<div id="menu">
    <ul class="menu">
        <li><a href="/index.html"><span>Home</span></a></li>
        <li><a href="/WhatWeDo/AboutUs.html" class="parent"><span>What We Do</span></a>
            <div><ul>
            	<li><a href="/WhatWeDo/AboutUs.html"><span>About Us</span></a></li>
                <li><a href="/WhatWeDo/History.html"><span>History of Heshima</span></a></li>
                <li><a href="/WhatWeDo/TextileTraining.html"><span>Textile Training Centre</span></a></li>
				<li><a href="/WhatWeDo/Preschool.html"><span>Preschool</span></a></li>
            </ul></div>
        </li>
        <li><a href="/Products/" class="parent"><span>Products</span></a>
            <div><ul>
                <li><a href="/Products/Home-General/"><span>Home - General</span></a></li>
                <li><a href="/Products/Home-Dining/"><span>Home - Dining</span></a></li>
                <li><a href="/Products/Home-Bedroom/"><span>Home - Bedroom</span></a></li>
                <li><a href="/Products/Bags/"><span>Bags</span></a></li>
                <li><a href="/Products/ClothingAccessories/"><span>Clothing and Accessories</span></a></li>
                <li><a href="/Products/SpecialOccasions/"><span>Special Occasions</span></a></li>
            </ul></div>
        </li>
        <li><a href="/Newsletters/Newsletters.html" class="parent"><span>Newsletters</span></a>
            <div><ul>
            	<li><a href="/Newsletters/Newsletters.html"><span>Newsletters</span></a></li>
                <li><a href="/Newsletters/AnnualReport.html"><span>Annual Reports</span></a></li>
            </ul></div>
        </li>

        <li><a href="/SupportingHeshima/" class="parent"><span>Supporting Heshima</span></a>
            <div><ul>
                <li><a href="/WhatWeDo/Volunteering.html"><span>Volunteering with Heshima</span></a></li>
                <li><a href="https://uk.virginmoneygiving.com/fundraiser-web/donate/makeDonationForCharityDisplay.action?charityId=1002097" target="_blank"><span>Make a Donation</span></a></li>
            </ul></div>
        </li>

        <li class="last"><a href="/ContactUs/"><span>Contact Us</span></a></li>
    </ul>
</div>
